.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.title{
    display:flex;
    width:100%;
    justify-content: center;
    align-self: center;
    color:white;
    background-color: rgba($color: #db2c15, $alpha: 0.8);
    font-weight: bold;
    font-size:x-large;
}

