.title{
    display:flex;
    width:100%;
    justify-content: center;
    align-self: center;
    color:white;
    background-color: rgba($color: #db2c15, $alpha: 0.8);
    font-weight: bold;
    font-size:x-large;   
}


.orderBar{
    display:flex;
    margin-top:3%;
    margin-right:6%;
    justify-content: center;
    

    &__location{
        display: flex;
        flex:1; 
        
    }

    //width:100%;
    &__payment{
        display:flex;
        justify-content: flex-end;
        flex:1;
        //background-color: red;
        &__left{
            position: relative;
            display:flex;
            flex-direction: column;
            color:rgba($color: #df1414, $alpha: 1.0);
            
            &__total{
              position: absolute;
              bottom:0;
              right:0;
              display: flex;
              justify-content: flex-end; 
            }
        }
    
        &__right{
            margin-left: 1%;      
        }
    }
   
}

.checkout{
    display:flex;
    flex-direction: column;
    &__total{
        display: flex;
        justify-content: flex-end;
        border-top:solid 1px;
    }
}