.menuList{
    display:flex;
    flex-direction: row;
    color:white;
    width:100%;
    background-color: rgba($color: #db2c15, $alpha: 0.8);

    &__item{
        background-color: transparent;
        outline: none;
        border:none;
        height:100%;
        width: 30%;
        margin:5px;
        font-weight: bold;
        color:white;

        &:hover{
            background-color:rgba($color: #e28c0a, $alpha: 1.0)
        }
    }
}

.orderBar{
    display:flex;
    justify-content: flex-end;
    
    margin-top:3%;
    margin-right:6%;

    //width:100%;

    &__left{
        position: relative;
        display:flex;
        flex-direction: column;
        color:rgba($color: #df1414, $alpha: 1.0);
        

        &__total{
          position: absolute;
          bottom:0;
          right:0;
          display: flex;
          justify-content: flex-end; 
        }
    }

    &__right{
        margin-left: 1%;
    }
}

.checkout{
    display:inline-block;
    
    &__total{
        display: flex;
        justify-content: flex-end;
        border-top:solid 1px;

    }
}