@import '../../Style/Button/nakedButton.scss';


.searchDropdown{
    display: flex;
    flex-direction: column;
    position: relative;
    height:20px;
    background-color: yellowgreen;

    &__label{

        &__btn{
            @extend .nakedButton;
            cursor: pointer;
            

            &:hover{
                border-bottom: solid 1px;
            }

        }
    }
}