.itemTag{
    // margin-bottom: 4%;
    // min-width: 200px;
    //background-color: rgba($color: #a9c40f, $alpha: 1.0);
    
    &__box{
        width:30%;
        float:left;
       
        
    }

    &__Item{
       
       
    }

    &__volume{
       
        
        color:rgba($color: #439c10, $alpha: 1.0);    
    }

    &__price{
       
    }
}