.restaurantList{
    flex:3;
    display:flex;
    flex-direction: column;
    margin-top:2%;
}

.restaurant{
    display:flex;
    flex-direction: column;
    flex:1;
    margin-top:2%;
    justify-content: center;

    &__name{
        align-self: center;
        justify-content: center;
        color:red;
        margin: 1% auto;
    }

    &__menu{
        display:flex;
        flex:1;
        justify-content: center;
        //margin: 2% auto;
        
    }
}

