.menuWrapper{
    display:flex;
    margin: auto 3%;
    // background-color: red;
}

.menuLabel{
    flex-wrap: nowrap;
    // background-color: yellow;
}

.menuButton{
    // margin-left:10px;
}

.itemVolume{
    margin:auto 5px;
    color:rgba($color: #439c10, $alpha: 1.0)
}


.soldOut{
    border:solid 1px;
    background-color: transparent;

    &:hover{
        background-color: rgba($color: #867c7c, $alpha: 0.3);
    }
}