.checkout {
    display: flex;
    flex: 1;
    margin-right:2%;

    &__left {
        display: flex;
        flex-direction: column;
        flex: 1;
        color: rgba($color: #df1414, $alpha: 1.0);

        &__label {
            flex-grow: 1;
            align-self: flex-end;
        }
        &__total {
            align-self: flex-end;
        }
    }

    &__right {
        display: flex;
        flex: 1;
        margin-left: 1%;
        

        &__payment {
            display:flex;
            flex-direction: column;
            flex-grow: 1;
          

            &__total {
                display: flex;
                justify-content: flex-end;
                border-top: solid 1px;
            }
        }
    }
}